
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html lang="en">

<head>

   

</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="@Url.Action("Index","Home")#page-top">HackPro Elite</a>            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="@Url.Action("Index","Home")#about">HackPro Elite?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="@Url.Action("Index","Home")#services"> Servicio </a>

                    </li>
                    <li>
                        <a class="page-scroll" href="@Url.Action("Index","Home")#portfolio">Populares</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="@Url.Action("Index","Home")#contact">Contactenos</a>
                    </li>
                    <li class="page-scroll">


                        @Html.ActionLink("Login/Register", "Register", "Home")

                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#Event">User <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="Event" class="collapse">
                            <li>
                                <a href="@Url.Action("HackathonEvent","Home")">Hackathon</a>
                            </li>
                            <li>
                                <a href="@Url.Action("BarcampEvent","Home")">Barcamps</a>
                            </li>

                        </ul>
                    </li>
                    <li class="page-scroll">


                        @Html.ActionLink("Admin IndexTest", "AdminIndex", "User")

                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                </div>

                <div style="padding-top:30px" class="panel-body">

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form">

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                        </div>



                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                </label>
                            </div>
                        </div>


                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls">
                                    <a id="btn-login" href="#" class="btn btn-primary btn-xl ">Login  </a>
                             </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    Don't have an account!
                                    <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                        Sign Up Here
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
        </div>
        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                </div>
                <div class="panel-body">
                    <form id="signupform" class="form-horizontal" role="form">

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>



                        

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="firstName">First Name</label>
                            <div class="col-md-4">
                                <input id="firstName" name="firstName" type="text" placeholder="text" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="secondName">Second Name</label>
                            <div class="col-md-4">
                                <input id="secondName" name="secondName" type="text" placeholder="text" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="firstLastName">First Last Name</label>
                            <div class="col-md-4">
                                <input id="firstLastName" name="firstLastName" type="text" placeholder="text" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="secondLastNAme">Second Last Name</label>
                            <div class="col-md-4">
                                <input id="secondLastNAme" name="secondLastNAme" type="text" placeholder="text" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- USERNAME input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="usernameUser">Username</label>
                            <div class="col-md-4">
                                <input id="usernameUser" name="usernameUser" type="text" placeholder="" class="form-control input-md">

                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password1User">Password</label>
                            <div class="col-md-4">
                                <input id="password1User" name="password1User" type="password" placeholder="" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password2User">Re-Type Password</label>
                            <div class="col-md-4">
                                <input id="password2User" name="password2User" type="password" placeholder="" class="form-control input-md" required="">

                            </div>
                        </div>
                        <!-- PHONE NUMBER input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="numberUser">Phone Number</label>
                            <div class="col-md-4">
                                <input id="numberUser" name="numberUser" type="text" placeholder="" class="form-control input-md">

                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="currencyUser">Currency</label>
                            <div class="col-md-4">
                                <select id="currencyUser" name="currencyUser" class="form-control">
                                    <option value="student">Student</option>
                                    <option value="programmer">Programmer</option>
                                    <option value="graphicDesigner">Graphic Designer</option>
                                </select>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="emailUser">Email</label>
                            <div class="col-md-4">
                                <input id="emailUser" name="emailUser" type="text" placeholder="email" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Multiple Radios (inline) -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="sexUser">Sex </label>
                            <div class="col-md-4">
                                <label class="radio-inline" for="sexUser-0">
                                    <input type="radio" name="sexUser" id="sexUser-0" value="f" checked="checked">
                                    Female
                                </label>
                                <label class="radio-inline" for="sexUser-1">
                                    <input type="radio" name="sexUser" id="sexUser-1" value="m">
                                    Male
                                </label>
                            </div>
                        </div>

                       
                        <!-- calendario -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="dateEvent">Date of Birth</label>
                            <div class="col-md-5">
                                <input type="date" name="dateStartEvent">
                            </div>


                        </div>
                       

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="button" class="btn btn-primary btn-xl"><i class="icon-hand-right"></i> &nbsp Sign Up</button>

                            </div>
                        </div>





                    </form>
                </div>
            </div>




        </div>
    </div>

</body>

</html>


